{% load staticfiles %}
<html lang="en">
<head>
<title>Services</title>
<meta charset="utf-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
<style type="text/css">
#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}
footer {
	position:fixed;
	bottom:0px;
}
</style>
</head>
<body pbzloc="18">
<header class="fixed-header">
  <div class="container-fluid">
    <nav class="navbar navbar-inverse">
      <div>
        <div class="navbar-header">
      <div class="logo"><a href="{% url 'new:index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a> </div>
          <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"></button>
          </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">            
            <li><a href="{% url 'new:about' %}">About Us</a></li>
            <li><a href="{% url 'new:services' %}">Services </a></li>
            <li><a href="{% url 'new:data' %}">Admission</a></li>
            <li><a href="{% url 'new:faq' %}">FAQ</a></li>
            <li><a href="{% url 'new:contact' %}">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<section class="inner-header">
  <div class="overlay" pbzloc="183">&nbsp;</div>
  <div class="container">
    <div class="title">
      <div class="row">
        <div class="col-sm-12"><a href="tours.html"  class="btn purple-btn2 hidden">Book Tour</a></div>
      </div>
    </div>
  </div>
</section>
<!-- header Section end here   --><!-- content section start -->

<section class="inner-page">
  <div class="container" pbzloc="46">
    {%  for m in services %}
    <h1>Services {{ m.services }}</h1>
    <h3><strong>Python{{ m.services }}</strong></h3>
    <p class="about-big"> {{ m.content }}</p>
    {% endfor %}

    <div class="row clearfix">
      <div class="col-md-6"><img src="{% static 'images/img1.jpg' %}" class="img-responsive"  alt=""></div>
      <div class="col-md-6"><img src="{% static 'images/img2.jpg' %}" class="img-responsive" alt=""></div>
    </div>
    <h3><br>
      <br>

      <strong>Big Data </strong></h3>
    <p pbzloc="182"> </p>


    <div class="row clearfix text-center margin-top25">
      <div class="col-md-12"><img src="{% static 'images/img3.jpg' %}"   alt=""><br>
        <br>
      </div>
    </div>
  </div>
</section>
<!-- content section end --><!-- cta section start--> 

<!-- cta section end -->

<footer>
  <div class="container-fluid">
    <div class="copy-right">
      <div class="row">
        <div class="col-sm-6 text-left">Copyright 2018 NTX Wine Tours</div>
        <div class="col-sm-6 text-right">
          <ul class="footer-menu">
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="terms-of-use.html">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><script src="js/bootstrap.min.js"></script>
</body>
</html>
