<!DOCTYPE html>
<html lang="en">
<head>
<title>NTX Winetours LLC</title>
<meta charset="utf-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/owl.carousel.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<style type="text/css">
#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}
</style>
</head>
<body pbzloc="18">
<header class="fixed-header">
  <div class="container-fluid">
    <nav class="navbar navbar-inverse">
      <div>
        <div class="navbar-header">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a> </div>
          <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"></button>
          </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">            
            <li><a href="about.html">About Us</a></li>
            <li><a href="nxt-wine-tours.html">NTX Wine Tours </a></li>              
            <li><a href="tours.html">Book Now</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<section class="inner-header">
  <div class="overlay" pbzloc="183">&nbsp;</div>
  <div class="container">
    <div class="title">
      <div class="row">
        <div class="col-sm-12"><a href="tours.html"  class="btn purple-btn2 hidden">Book Tour</a></div>
      </div>
    </div>
  </div>
</section>
<!-- header Section end here   --><!-- content section start -->

<section class="inner-page">
  <div class="container">
    <h1>Privacy Policy</h1>
   
   <h3>ABOUT OUR PRIVACY POLICY</h3>
<p>NTX Wine Tours LLC provides wine tours throughout the North Texas area. By sharing information with us, we are able fulfill your request and serve you better.  Your privacy is important to us at NTX Wine Tours LLC which is why we have outlined our practices regarding how we collect and use your information.  
</p>

<h3>INFORMATION WE COLLECT </h3>
<p>Personal Information is any information that can be used to identify, locate or contact you. When you reserve a tour with us you must provide personal information to process your request.  Other information may be collected to analyze trends, administer our website, and gather broad demographic information for internal use, which is typical of most websites.  All of the information we collect helps us provide better services and products for all of our customers.  In addition, we may collect information from third party data suppliers who enhance our files and help us better understand our customers.  
 </p> 

<p>HANDLING OF PERSONAL INFORMATION</p>
<p>Our primary intention for collecting personal information from you is to fulfill your request for services.  We use the information we collect from all of our customers to provide the highest level of service possible.  When you contact NTX Wine Tours to inquire about our services or reserve with us, we may keep a record of your communication to track your needs.  We may use your email address or cell phone (to call or send a message) to inform you about our services such as letting you know about upcoming events, adjustments to scheduling, or special promotions.  We will ask for your consent before using information for a purpose other than those that are set out in this Privacy Policy. We do not share personal information with third parties unless we have your consent to do so, or our affiliates need information to process services for us regarding your tour, or for legal reasons. 
 </p>

<h3>COOKIES</h3>
<p>We use various technologies to collect information when you visit our website, and this may include sending one or more cookies or anonymous identifiers to your device.  Cookies allow us to improve user experience by customizing your use of our website. Simple information is transferred to your computer to allow the content and experience at <a href="www.ntxwinetours.com">www.ntxwinetours.com</a> to reflect your actions and preferences.  You are free to make adjustments in your web browser to disable cookies; however, refusing cookies may cripple some of our website features and render some aspects useless to you.
</p>

<p>Third Party ad servers or ad networks may also use cookies to track your activities on this website to measure advertisement effectiveness and other reasons that will be provided in their own privacy policies.  Our website has no access or control over these cookies that may be used by third party advertisers.</p>

<h3>INFORMATION SECURITY </h3>
<p>We have implemented controls that are designed to safeguard your Personal Information. We use industry-standard encryption technology to secure Sensitive Personal Information when it is being collected and transmitted over the Internet as well as firewalls, site monitoring and intrusion detection software. 
</p> 
<h3>WHEN THIS PRIVACY POLICY APPLIES</h3>
<p>Our Privacy Policy applies to all of the services and products offered by NTX Wine Tours LLC.  It does not extend to services or products offered by third parties with links displayed on our site, or third parties who advertise our services on their sites.
</p>
<h3>CHANGES</h3>
<p>Our Privacy Policy may change at any time; however, we will not reduce your rights under this Privacy Policy without your explicit consent.  Please review our Privacy Policy each time you visit our website for any updates or changes.
</p>
<h3>COMPLAINTS</h3>
<p>We regularly review our compliance with our Privacy Policy. When we receive formal written complaints, we will contact the person who made the complaint to follow up. We work to resolve any complaints regarding personal information or any other service related complaints.
</p>
<h3>CONTACT  </h3>
<p>If you have any questions about the contents of this page, please contact us at  <a href="mailto:info@ntxwinetours.com">info@ntxwinetours.com</a>.</p>


  </div>
</section>
<!-- content section end -->
<!-- cta section start--> 

<!-- cta section end -->

<footer>
  <div class="container-fluid">
    <div class="copy-right">
      <div class="row">
        <div class="col-sm-6 text-left">Copyright 2018 NTX Wine Tours</div>
        <div class="col-sm-6 text-right">
          <ul class="footer-menu">
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="terms-of-use.html">Terms of Use</a></li>
        
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><script src="js/bootstrap.min.js"></script>
</body>
</html>
