<!DOCTYPE html>
<html lang="en">
<head>
<title>NTX Winetours LLC</title>
<meta charset="utf-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/owl.carousel.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<style type="text/css">
#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}
footer {
	position:fixed;
	bottom:0px;
}
</style>
</head>
<body pbzloc="18">
<header class="fixed-header">
  <div class="container-fluid">
    <nav class="navbar navbar-inverse">
      <div>
        <div class="navbar-header">
      <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a> </div>
          <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"></button>
          </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">            
            <li><a href="about.html">About Us</a></li>
            <li><a href="nxt-wine-tours.html">NTX Wine Tours </a></li>              
            <li><a href="tours.html">Book Now</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>


<!-- header Section end here   --><!-- content section start -->

<section class="inner-page">
  <div class="container" >
   <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <div class="spacer"></div>
          <img src="images/checked.svg" alt="" width="100px">
 <h2 style="color:#0fad00">Success</h2>      
       
        <p>Thank you your payment is Successfully Done
Lorem ipsum dolor site demo content site amet ipsum dolor site demo content site amet</p>
        <a href="" class="btn btn-success">Go Back </a>
    <br><br>
        </div>
        
	</div>
    <p></p>
    
  </div>
</section>
<!-- content section end --><!-- cta section start--> 

<!-- cta section end -->

<footer>
  <div class="container-fluid">
    <div class="copy-right">
      <div class="row">
        <div class="col-sm-6 text-left">Copyright 2018 NTX Wine Tours</div>
        <div class="col-sm-6 text-right">
          <ul class="footer-menu">
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="terms-of-use.html">Terms of Use</a></li>
        
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><script src="js/bootstrap.min.js"></script>
</body>
</html>
